
:root{
    --white:#fff;
    --bodyBg:#373636;
    --listBg:#565656;
    --blue:#00a2ff;
    --yellow:#fce302;
    --green:#44ff00;
}
body {
  margin: 0;
  height: 100vh;
  background: var(--bodyBg);
  width: 100vw;

}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--white);
}
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.done,
.inProgress,
.todo {
    width: 265px;
  min-height: 430px;
  background: var(--listBg);
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doneMenu,
.inPrograssMenu,
.todoMenu {
    font-weight: bold;
  padding: 5px;
  color: var(--white);
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
}
.todoMenu {
  background:var(--blue) ;
}
.inPrograssMenu {
  background: var(--yellow);
}
.doneMenu {
  background: var(--green);
}
.box {
  padding: 10px;
  color: var(--white);
  font-size: 25px;
  width: 250px;
  height: 100px;
  background: #7c7c7c;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: grab;
}
.box:active{
    background: #373636;
}
.btn {
  border: none;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}
.btn:active{
    transform: scale(.97);
}
.addTodo {
  background: var(--blue);
}
.addIP {
  background:var(--yellow) ;
}
.addDone {
  background: var(--green);
}
