body {
  margin: 0;
  height: 100vh;
  background: #373636;
  width: 100vw;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.done,
.inProgress,
.todo {
  min-height: 430px;
  background: #565656;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doneMenu,
.inPrograssMenu,
.todoMenu {
    font-weight: bold;
  padding: 5px;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
}
.todoMenu {
  background: #00a2ff;
}
.inPrograssMenu {
  background: #fce302;
}
.doneMenu {
  background: #44ff00;
}
.box {
  padding: 10px;
  color: #fff;
  font-size: 25px;
  width: 250px;
  height: 100px;
  background: #7c7c7c;
  border-radius: 10px;
}
.btn {
  border: none;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
}
.btn:active{
    transform: scale(.97);
}
.addTodo {
  background: #00a2ff;
}
.addIP {
  background: #fce302;
}
.addDone {
  background: #44ff00;
}
